<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3D Flipping Card Hover Effect</title>
    <!-- Google Fonts CDN Link -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
  </head>
  <body>
    <div class="flip-card">
      <div class="flip-card-front">
        <div class="inner">
          <img src="https://cdn-icons-png.flaticon.com/512/83/83574.png" class="icon" />
          <h3>Upload Image</h3>
          <p>
            
        </div>
      </div>
      <div class="flip-card-back">
        <div class="inner">
          <img src="https://cdn-icons-png.flaticon.com/512/83/83574.png" class="icon" />
          <h3>Upload Image</h3>
          <p>
            Take a picture of your damaged car. For best results, try to focus on one major area of damage (e.g., front, side, or rear) and contain most of the car body in the picture.
            Upload your car picture on Car Damage Detective web app.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-front">
        <div class="inner">
          <img src="https://cdn-icons-png.flaticon.com/512/4176/4176901.png" class="icon" />
          <h3>Process</h3>
          <p>
            
          </p>
        </div>
      </div>
      <div class="flip-card-back">
        <div class="inner">
          <img src="https://cdn-icons-png.flaticon.com/512/4176/4176901.png" class="icon" />
          <h3>Process</h3>
          <p>
            Convolutional neural networks will identify where and how severely your car is damaged and provide an immediate detailed assessment of your damage.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-front">
        <div class="inner">
          <img src="https://cdn-icons-png.flaticon.com/512/3593/3593581.png" class="icon" />
          <h3>Result</h3>
          <p>
            
        </div>
      </div>
      <div class="flip-card-back">
        <div class="inner">
          <img src=" https://cdn-icons-png.flaticon.com/512/3593/3593581.png" class="icon" />
          <h3>Result</h3>
          <p>
            Results can be used to check the detailed info of your car.
        </div>
      </div>
    </div>
  </body>
</html>
